
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.adminmenuwrap{

}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/*  -- My own style --- */
td.date {
    font-size: 11px;
    white-space: nowrap;
}
td.title {
    padding-left: 20px;
}

/* --- End --- */

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/* -- WORKS / Home-page and Works-page
------------------------------------------------------------- */
.works figure > a{
    display: block;
    height: 100%; width: 100%;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #DDD; padding-top: 1em; }

.works figure .zoom{
    display: block;
    position: absolute; top: 10px; left: 0;
    background: url(../img/zoom.png) no-repeat center;
    width: 100%; height: 100%;
    *zoom: 1;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 0);
    filter: alpha(opacity = 0); }

.works figure figcaption{ margin-top: 1em; padding: 0 0.5em; /*white-space: nowrap; */}
.works figure figcaption a{line-height:2em; color: #555; font-weight: 700; }
.works figure figcaption p{ margin: 0; }

.works-page .works figure { margin-bottom: 3em;}

.main aside{margin-bottom: 3em}
.main aside menu{padding: 0 0 0 1em; line-height: 2em;}
.main aside menu a{color: #999;}
.main aside menu .buttonactive {color: #0078CF }
.grid-wrap {margin-left: 0; }

/*------------------------------------------------------------- */

.col-one-quarter {width: 25%; }

/* -- Media query 2 (mq2)
------------------------------------------------------------- */
@media only screen and (max-width: 48em) { /* 13 / 624 */
    .mq2-col-full {width: 100%;}
    .mq2-col-one-half {width: 50%; }
    .mq2-col-one-third { width: 33.333%; }
    .mq2-col-two-thirds {width: 66.666%; }
    .mq2-col-one-quarter {width: 25%; }
    .mq2-col-three-quarters {width: 75%; }
    /**/
    header nav { width: 100%; }
    header nav ul {  padding: 0 ; border-left:none; line-height: 2em; }
    header nav ul li { float: left;  padding: 0 1em ; border-left:1px solid #ddd; }
    .slider { margin-top: 3em; }
}

/*---  Custom changes
---*/
.hiden{
    display:none;
}

